# Build folderi
bin/
obj/

# Ali dozvoli data folder unutar bin/Debug
!bin/
bin/*
!bin/Debug/
bin/Debug/*
!bin/Debug/data/
!bin/Debug/data/**

# Visual Studio fajlovi
.vs/
*.user
*.suo

# NuGet paketi (ne treba ih commitovati)
packages/
*.nupkg

# Rider / VS Code (ako koristiš)
.idea/
.vscode/

# Log fajlovi
*.log

# OS fajlovi
.DS_Store
Thumbs.db